[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/IMGUI"]
	path = libs/IMGUI
	url = https://github.com/ocornut/imgui
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
